VITE_RPC_SEPOLIA=https://starknet-sepolia.example-rpc.io
VITE_RPC_MAINNET=https://starknet-mainnet.example-rpc.io
VITE_CHAIN_ID_SEPOLIA=SN_SEPOLIA
VITE_CHAIN_ID_MAINNET=SN_MAIN
VITE_SHIELDED_POOL=0xYOUR_SHIELDED_POOL_ADDRESS
VITE_GARAGA_VERIFIER=0xYOUR_GARAGA_VERIFIER_ADDRESS
VITE_STRK_TOKEN=0xYOUR_STRK_TOKEN_ADDRESS
VITE_RELAYER_URL=http://localhost:3000
